primary = "rgb(47,118,250)"
li
  list-style none
a
  text-decoration none
*
  font-size 16px
  font-family "PingFang HK"
  margin 0
  padding 0
base-bottom-1px
  &:before
    content ""
    position absolute
    width 100%
    height 1px
    background-size: 100%;
    background-position: center

  